{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hello {{ name  }}{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}


    <h1>Dashboard</h1>
    <br/><br/><br/>

    <div class="card">
        <div class="card-header">
            {{ current_user.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome to your dashboard</h5>
          <strong>Name :</strong>{{ current_user.name }}<br/>
          <strong>User Name :</strong>{{ current_user.username }}<br/>
          <strong>User ID :</strong>{{ current_user.id }}<br/>
          <strong>Email :</strong>{{ current_user.email }}<br/>
          <strong>Favorite Color :</strong>{{ current_user.favorite_color }}<br/>
          <strong>Date Joined :</strong>{{ current_user.date_added }}<br/>

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href=" {{ url_for('logout')  }}" class="btn btn-secondary bt-sm">Logout</a>
          <a href=" {{ url_for('update', id=current_user.id)  }}" class="btn btn-success bt-sm">Update</a>
          <a href="{{ url_for('delete',id=current_user.id) }}" class="btn btn-danger">Delete</a>

        </div>
    </div>

      <br/>

    <div class="card">
        <div class="card-header">
            Update Profile
        </div>
        <div class="card-body">
            <form action="/dashboard" method='POST'>
                {{ form.hidden_tag() }}
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=name_to_update.name) }}
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.username) }}
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control",value=name_to_update.email) }}
                <br/>
                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
                <br/>
                {{ form.submit(class="btn btn-warning") }}
    
                <a href="{{ url_for('delete',id=current_user.id) }}" class="btn btn-danger">Delete</a>
    
            </form>
        </div>
    </div>
    
{% endblock %}