{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hello {{ name  }}{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

<!--
{% if name %}
    <h1>Update User</h1>
    <br/><br/><br/>

    <table class="table table-sm">
        <tr>
            <td>{% for our_user in our_users %}
                {{ our_user.id }} - {{ our_user.name }} - {{ our_user.email }} - {{ our_user.favorite_color }} <br/>
            {% endfor %}</td> 
        </tr>
    </table>


{% else %}
-->


{% if id != current_user.id %}

    <h1>Update User</h1>
    <br/><br/>
    ID to Update: {{ id }} <br/>
    Current ID : {{ current_user.id }}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Unable to edit this user</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h2>Denied Access</h2>


{% else %}

    <h1>Update User</h1>
    <br/><br/>
    ID to Update: {{ id }} <br/>
    Current ID : {{ current_user.id }}


    <br/><br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form action="/update/{{ name_to_update.id }}" method='POST'>
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value=name_to_update.name) }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=name_to_update.username) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control",value=name_to_update.email) }}
            <br/>
            {{ form.favorite_color.label(class="form-label") }}
            {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
            <br/>
            {{ form.submit(class="btn btn-warning") }}

            <a href="{{ url_for('delete',id=id) }}" class="btn btn-danger">Delete</a>

        </form>
    </div>
<br/><br/><br/>

{% endif %}


      <!--  {% endif %}     -->
{% endblock %} </td>
